/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caremion, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaremion, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}
img {
	width: 100%;
	display: block;
}/* Replace this whole line 3 with my version of Eric Meyer’s reset tool.*/

body {
	background-color:rgb(255,255,250);/* Not totally white. */
	color:rgb(5,5,5); /* Not totally black. */
	line-height: 150%; 	/* A little extra leading. */
	font-family: serif;
}

h1 {
	background-color:rgb(149, 149, 178);
	color:rgb(255,255,250); /* Same as body background. */
	font-size: 4rem;
	padding: 3.5rem 1rem 2rem; /* You want three values. */
	font-weight:bold;
	text-transform: uppercase;
}

/* You’ll need to add a span element to your HTML. */
h1 span { 	
	font-family: serif;
	font-style: italic;
	font-weight: normal;
	text-transform: lowercase;
	font-size: 3.8rem;
}

h2 {
	background-color: rgb(149, 149, 178);
	color:rgb(255,255,250);
	font-size: 2rem;
	padding: 1rem 1rem 1.5rem;
	font-family: sans serif;
	font-weight: bold;
}

h3 {
	margin: 3rem 1rem 1rem; /*Three values again. You got the idea.*/
	padding-top: 1rem;
	font-size: 1.5rem;
	color: red;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em; /*Just an extra tracking for bold uppercase letters. Try 0.1em */
	border-top: .2rem solid red;;
}
h4 {
	font-weight: bold;
}

p.description {
	font-style: italic;
}

p.price {
	color: rgb(252, 12, 12);
}

ul {
	margin: 1rem 1rem 1rem;
	list-style-type: none;
}

li { 
	margin: 1rem 0rem;
}
