/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img { 
    width: 100%; /*Please leave this line.*/
    display: block;
    padding-bottom: .5rem;   
}
figcaption { 
    font-style: italic; 
    margin: .5rem .5rem .5rem 2rem;    
}
body {
	background-color:rgb(255,255,250);/* Not totally white. */
	color:rgb(5,5,5); /* Not totally black. */
	line-height: 150%; 	/* A little extra leading. */
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    padding: .5rem 0rem 0rem;

}

div.container {   
    max-width: 70em;
    margin: auto;
    }
figure { 
   display: grid;
   grid-template-columns: 83% auto;
 
    }
main { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    }

h1 {
	background-color:rgb(255, 150, 30);
	color:rgb(255,255,250); /* Same as body background. */
	padding: 1rem 2rem .3rem; /* You want three values. */
	text-transform: none; 
    font-family: Sutro, serif;  
    font-weight: 700;  
    font-style: normal;
    font-size: 2rem;
    line-height: 2.3rem;
}
h2 {
	background-color: rgb(255, 150, 30);
	color:rgb(255, 234, 184);
	font-size: 1.4rem;
	padding: 1rem 2rem 1.2rem;
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
}
h3 {
	margin: 2rem 2rem .1rem; /*Three values again. You got the idea.*/
	padding-top: 1rem;
	font-size: 1.5rem;
	color: rgb(255, 150, 30);
	text-transform: uppercase;
	letter-spacing: 0.1em; /*Just an extra tracking for bold uppercase letters. Try 0.1em */
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
    border-top: .1em solid rgb(255, 150, 30)
}
ul {
	margin: .1rem 1.5rem 2rem;
    list-style-position: outside;
    padding: 1rem 1rem 1rem;
}
ol { 
    margin: .1rem 1.5rem 2rem;
    list-style-position: outside;
    padding: 1rem 1rem 1rem;
}

li { 
    padding: .5rem .5rem .5rem;
}

footer { 
    background-color: rgb(255, 150, 30);
	color:rgb(253, 245, 227);
	font-size: 1rem;
	padding: 1rem 2rem 1.2rem;
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
}
/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
