/*CSS DOCUMENT*/
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}


body{
  
    background-color: #FCF9F0;
    margin: 0em; 
  
   
}

/* main{

    max-width: 70em;
    margin: auto;
 } */




h1 {
    width: 20em;
    grid-column: 1/2;
 
   
    
}

.stores {
      
 
    color: #694b52;
    text-decoration: none;
    font-family: solitas-serif-extended, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
   
    }
figcaption{
   
    text-align: left;
    padding-bottom: 1em;
    padding-left: .7em;
    padding-top: .4em;
}

.topsection{
    display: grid; 
    grid-template-columns:(40% auto); 
    width: 100%; 
    position: relative;
    
    
    
 }

 div.storephotos {

    display: grid; 
    grid-template-columns:repeat(3,1fr); 
    width: 100%;
    position: relative;
    gap: 1em;
 }
    
  
h2{
    font-family: solitas-serif-extended, sans-serif;

    font-weight: 700;
    
    font-style: normal;
     
padding: 1em .7rem .7rem; 

font-size: 2em;

color: #876e74;
margin-left: auto;
margin-right: auto;


}

h3{
    font-family: solitas-serif-extended, sans-serif;


    font-weight: 500;
    font-style: italic;
    color: #fffff0;


    padding: .5em .7rem .7rem; 
    background-color:#876e74;
    font-size: 1.7em;
    margin-left: auto;
    margin-right: auto;

}
h4{


    font-family: solitas-serif-normal, sans-serif;
    
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: #876e74;
    padding: .7rem .5rem .5rem;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
}
h5{
    font-family: solitas-serif-extended, sans-serif;
  
    font-weight: 600;
    font-style: normal;
    padding: .5rem .5rem;
    background-color: #FCF9F0;
    margin-left: auto;
    margin-right: auto;

}
p{  padding: .7rem .5rem .7rem;
    font-family: solitas-serif-extended, sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #FCF9F0;
    margin-left: auto;
   
    
   
   
}


img {
	width: 100%;
	display: block;
    border-radius: 8px;
    height: auto;


}
nav {
   grid-column: 3/4;
   text-align: right;
   padding-right: .8em;
   align-self: end;
 }


nav ul { 
    padding: 9rem 0rem 2rem 0em;

    
}

nav ul li { 
    display: inline;
    list-style-type: none;
    margin-left: .2em;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.09em ;
    font-family: mrs-eaves, serif;
    font-weight: 700;
    font-style: normal;

}
nav ul li a{ 
   color: #694b52;
   text-decoration: none;
   display: inline;

}

nav ul li a:hover   {  
    color: #f9d99b;
}
    li { 
        padding: .5rem 0rem .5rem;
    }


footer p {
    
        height: 2em;
        font-family: solitas-serif-extended, sans-serif;
        font-weight: 500;
        font-style: italic;
        color: #fffff0;
        padding-top: 1.2em;
        padding-left: .5em;
        padding-bottom: .5em;
        background-color:#876e74;
        font-size: 1.4em;
        letter-spacing: .04em ;
        

}

div.container, footer p {   
    
    max-width: 70em;
    margin: auto;
}

ul.menuitems {

    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows:2fr 2fr ;

}

ul.menuitems li {
    list-style-type: none;
}